In [26]:
import numpy as np
from numpy_financial import pmt
import pandas as pd

In [27]:
monto = 32999.04
tasa = 0.4858
plazo = 154

In [28]:
pago = -np.round(pmt(tasa/52,plazo,monto),2)
pago

405.01

In [29]:
sdoi = monto
interes = sdoi*tasa/52
cap = pago-interes
iva = interes*0.16
pago_con_iva = cap+interes+iva
sdof = sdoi-cap

In [30]:
renglon = tuple(map(lambda x:np.round(x,2),
                    (sdoi,pago,cap,interes,iva,pago_con_iva,sdof)))
renglon

(32999.04, 405.01, 96.72, 308.29, 49.33, 454.34, 32902.32)

In [31]:
l = [renglon]
for _ in range(plazo-1):
    sdoi = sdof
    interes = sdoi*tasa/52
    cap = pago-interes
    iva = interes*0.16
    pago_con_iva = cap+interes+iva
    sdof = sdoi-cap
    renglon = tuple(map(lambda x:np.round(x,2),
                    (sdoi,pago,cap,interes,iva,pago_con_iva,sdof)))
    l.append(renglon)

In [44]:
tabla = pd.DataFrame(l,columns=['Saldo Inicial','Pago','Capital','Interés','IVA','Pago +Iva','Saldo Final'])
tabla.insert(0,'i',tabla.index+1)

In [46]:
tabla

,i,Saldo Inicial,Pago,Capital,Interés,IVA,Pago +Iva,Saldo Final
0,1,32999.04,405.01,96.72,308.29,49.33,454.34,32902.32
1,2,32902.32,405.01,97.63,307.38,49.18,454.19,32804.69
2,3,32804.69,405.01,98.54,306.47,49.04,454.05,32706.15
3,4,32706.15,405.01,99.46,305.55,48.89,453.90,32606.69
4,5,32606.69,405.01,100.39,304.62,48.74,453.75,32506.30
...,...,...,...,...,...,...,...,...
149,150,1970.58,405.01,386.60,18.41,2.95,407.96,1583.98
150,151,1583.98,405.01,390.21,14.80,2.37,407.38,1193.77
151,152,1193.77,405.01,393.86,11.15,1.78,406.79,799.91
152,153,799.91,405.01,397.54,7.47,1.20,406.21,402.38
153,154,402.38,405.01,401.25,3.76,0.60,405.61,1.13

In [52]:
with pd.ExcelWriter('amort.xlsx') as xl:
    tabla.to_excel(xl,sheet_name='Tabla de Amortización')